{% extends "base.html" %}
{% block title %}UCB Schedule of Classes: Classes with Highest Seat Limit{% endblock %}
{% block content %}
<h1>
  Classes with Highest Seat Limit
  <small>
    <a href="{{ url_for('index') }}">Back?</a>
  </small>
</h1>
{% if not big %}
<p>Sorry, but we couldn't get any data for the day specified. Try again later.</p>
{% else %}
<table class="table">
  <thead>
    <tr>
      <th>Section</th>
      <th>Seat Limit</th>
    </tr>
  </thead>
  <tbody>
    {% for pair in big %}
    <tr>
      <td>{{ pair[0] }}</td>
      <td>{{ pair[1] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
