{% extends "base.html" %}
{% block title %}UCB Schedule of Classes: API and Analysis{% endblock %}
{% block content %}
<h1>UCB Schedule of Classes</h1>
<div class="row">
  <div class="col-md-6">
    <h2>API</h2>
    <p>
      We provide an API for data obtained from scraping the UC Berkeley Schedule of Classes.
      Currently, data from Spring 2014 (starting from 2013-10-21) is in the database.
      Examples:
    </p>
    <ul>
        <li>
          <code>/api/departments?page=1</code>:
          returns first page of departments
        </li>
        <li>
          <code>/api/departments/35</code>:
          returns department with <code>id=35</code> (COMPSCI)
        </li>
        <li>
          <code>/api/departments/35/courses?page=1</code>:
          returns first page of courses with department COMPSCI
        </li>
        <li>
          <code>/api/courses/615</code>:
          returns course with <code>id=615</code> (COMPSCI 189, Spring 2014)
        </li>
        <li>
          <code>/api/sections/1854</code>:
          returns section with <code>id=1854</code> (COMPSCI 189 LEC 001, Spring 2014)
        </li>
        <li>
          <code>/api/sections/1854/instances</code>:
          returns instances (where an instance is a section's data for a particular day)
          of COMPSCI 189 LEC 001, Spring 2014
        </li>
    </ul>
  </div>
  <div class="col-md-6">
    <h2>Analysis</h2>
    <p>
      Here are various statistics and analysis of the Schedule of Classes data.
    </p>
    <ul>
      <li>
        <a href="{{ url_for('mostfull') }}">Classes with Highest Enrollment</a>
      </li>
      <li>
        <a href="{{ url_for('biggest') }}">Classes with Highest Seat Limit</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
