{% extends "base.html" %}
{% block title %}UCB Schedule of Classes: Classes with Highest Enrollment{% endblock %}
{% block content %}
<h1>
  Classes with Highest Enrollment
  <small>
    <a href="{{ url_for('index') }}">Back?</a>
  </small>
</h1>
{% if not full %}
<p>Sorry, but we couldn't get any data for the day specified. Try again later.</p>
{% else %}
<table class="table">
  <thead>
    <tr>
      <th>Section</th>
      <th>Percent Enrolled/Waitlisted</th>
    </tr>
  </thead>
  <tbody>
    {% for pair in full %}
    <tr>
      <td>{{ pair[0] }}</td>
      <td>{{ pair[1] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
